.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 112px 32px;
}
@media (max-width: 1024px) {
  .section {
    padding: 88px 28px;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 64px 20px;
  }
}
@media (max-width: 480px) {
  .section {
    padding: 56px 16px;
  }
}
